@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  color: #483838;
}

a {
  color: #85aa61;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.app-container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.error-message {
  font-size: 3em;
  text-align: center;
  padding: 1em;
}